
:root {
    --gray-color: #0D0D0D;
    --dark-color: #000000;
    --light-color:  #FFFFFF;
    --back-color: #F7F8F9;
    --blue-color: #FF914b;
    --orange-light-color:  #FFB251;
    --dark-blue: #1e2b32;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    /*========================geral==========================*/

    #sobremim_section,
    #projetos_section,
    #contato_section {
        padding: 20px;
    }



    /*=======================cabeçalho=======================*/

    header{
        gap: 70px;
    }

    header .logo{
        width: 150px;
        
    }

    #botao-mobile {
        display: flex;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        width: 10px;
    }

    #hamburguer{
        display: block;
        width: 20px;
        border-top: 2px solid var(--light-color);
    }

    #hamburguer::after, #hamburguer::before{
        background: var(--light-color);
        display: block;
        width: 20px;
        height: 2px;
        content: '';
        margin-top: 7px;
        transition: .6s;
        position: relative;
    }

    #navegar.active #hamburguer{
        border-top-color: transparent;
    }

    #navegar.active #hamburguer::after{
        transform: rotate(135deg);
        top: -9px;
    }

    #navegar.active #hamburguer::before{
        transform: rotate(-135deg);
    }

    #menu-web {
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0px;
        background-color: var(--gray-color);
        z-index: 1000;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #navegar.active #menu-web {
        
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }

   
    #menu-web li:hover{
        background-color: var(--dark-color);
        filter: brightness(1.5);
        
    }

    #menu-web li a{
        display: flex;
        justify-content: center;
        padding: 30px;
        width: 100%;
    }

    #menu-web .btn-contact{
        border: none;
        padding: 30px;
    }

    /*=========================seção inicial========================*/


    #inicio_divCentral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #inicio_section  .title-inicio {
        font-size: 14px;
        
    }

    #inicio_section  .text-inicio{
        font-size: 30px;
    }
    #inicio_section  .text2-inicio{
        font-size: 15px;
        margin: 0 -14.5rem;
    }

    .button-inicio{
        gap: 10px;
    }
    .button{
        font-size: 12px;
    }

    .btn2-inicio{
        font-size: 12px;
    }
    /*=========================seção sobre mim======================*/

    #sobremim_section p {
        font-size: 15px;
        width: 80%;
        margin-bottom: 10px;
    }

    #sobremim_section div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin-bottom: 35px;
        
    }


    /*===================== seção projetos ===================*/

    #projetos_container {
        display: grid;
        grid-template-columns: 1fr;
    }


    /*===================== seção contato ===================*/

    #contato_section p {
        font-size: 18px;
    }

    #contato_section div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin-bottom: 35px;
        color: #FFECD1;
    }


}

@media only screen and (max-width: 884px) and (min-width: 600px) {

    #inicio_divCentral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 50px;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #inicio_section div h1 {
        font-size: 45px;
        margin-bottom: 50px;
    }

    #projetos_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}