
:root {
    --gray-color: #0D0D0D;
    --dark-color: #000000;
    --light-color:  #FFFFFF;
    --back-color: #F7F8F9;
    --blue-color: #FF914b;
    --orange-light-color:  #FFB251;
    --dark-blue: #1e2b32;
  }


/*(iphones, 600px) */
@media (max-width: 600px) {


    /*=======================cabeçalho=======================*/


    header .logo{
        width: 150px;
        margin-left: -2rem;
        
    }

    #botao-mobile {
        display: flex;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        width: 10px;
    }

    #hamburguer{
        display: block;
        width: 20px;
        border-top: 2px solid var(--light-color);
    }

    #hamburguer::after, #hamburguer::before{
        background: var(--light-color);
        display: block;
        width: 20px;
        height: 2px;
        content: '';
        margin-top: 7px;
        transition: .6s;
        position: relative;
    }

    #navegar.active #hamburguer{
        border-top-color: transparent;
    }

    #navegar.active #hamburguer::after{
        transform: rotate(135deg);
        top: -9px;
    }

    #navegar.active #hamburguer::before{
        transform: rotate(-135deg);
    }

    #menu-web {
        display: block;
        position: absolute;
        width: 80%;
        top: 50px;
        right: 0px;
        background-color: var(--gray-color);
        z-index: 1000;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #navegar.active #menu-web {
        
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }

   
    #menu-web li:hover{
        background-color: var(--dark-color);
        filter: brightness(1.5);
        
    }

    #menu-web li a{
        display: flex;
        justify-content: center;
        padding: 30px;
        width: 100%;
    }

    #menu-web .btn-contact{
        border: none;
        padding: 30px;
    }

    /*=========================seção inicial========================*/
    
    #inicio_divCentral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
        
    }
    
    #inicio_section  .title-inicio {
        font-size: 14px;
        text-align: left;
        padding: 0 2px;
    }

    #inicio_section  .text-inicio{
        font-size: 38px;
        text-align: left;
    }

    #inicio_section  .text2-inicio{
        font-size: 16px;
        text-align: left;
        padding: 0 2px;
    }

    .button-inicio{
        gap: 10px;
    }
    .button{
        font-size: 12px;
    }

    .btn2-inicio{
        font-size: 12px;
    }
    /*=========================seção solucao======================*/
       
        
    .line {
        width: 100px;
        margin: 0 1rem 0 1.5rem;
       
        
    }

    #text-solucao{
        display: block;
        
    } 

    #text-solucao h2{
        
        text-align: left;
        font-size: 23px;
        padding: 0 20px;
       
    }
    
    #text-solucao p{
        margin: 20px;
        padding: 10px 0.2rem;
        text-align: left;
        font-size: 18px;
    }
       
        
      /* div dos container*/
    .solucao-card  h3{
        font-size: 20px;
       
    }
    
    .solucao-card  p {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        
    }

     
    #solucao_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }



    .solucao-card {
        width: 300px;
        height: 340px;
        padding: 25px 5px;
        
        
    }
    
    
.img-fundo-solucao{
    width: 100%;
  }

    /*===================== seção vantagem ===================*/
    
.icon-vantagem{
    width: 89px;
  }
  
  #text-vantagem{
  display: flex;
  flex-direction: ;
  align-items: flex-start;
  
  }
  
  #text-vantagem h2{
    font-size: 23px;
    font-weight: 700;
    padding: 0 20px;
}
  
  #text-vantagem p{
    font-size: 18px;
    margin: -10px;
  }
  
  .vantagem1, .vantagem2, .vantagem3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding:30px 15px;
    margin-bottom: 3rem;
  }
  
  
  #vantagem_section h3{
    font-size: 18px;
  }
  #vantagem_section  p{
    font-size: 15px;
   
  }


    /*===================== seção contato ===================*/

   
    
      .contact-info {
        display: flex;
        flex-direction: column;
       

      }
      .contact-info h2{
        font-size: 25px;
      }
      .contact-info p{
        padding-right: 0.8rem;
        font-size: 16px;
      }  
    
      .container{
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
      }
    
      .contact:before {
        background-size: 200%;
      }

      .contact-form{
        margin-top: 3rem;
      }

      .contact-form .row {
        grid-column-gap: 0.3rem;
      }

      .contact-form .title {
        font-size: 22px;
      }
    
      .contact-input {
        font-size: 0.8rem;
        padding: 0.8rem 1.4rem;
        margin: 0.25rem 0;
      }

      #btn-ctt {
        padding: 10px 20px;
        font-size: 20px;
    }

     /*=======================NOSSA EMPRESA=======================*/
    
}
    /* End Responsive */


/*(android, 600px) */
@media (max-width: 360px) {
      
    #inicio_section  .title-inicio {
        font-size: 14px;
        text-align: left;
        padding: 0 2px;
    }

    #inicio_section  .text-inicio{
        font-size: 36px;
        text-align: left;
    }

    #inicio_section  .text2-inicio{
        font-size: 16px;
        text-align: left;
        padding: 0 2px;
    }

    .button-inicio{
        gap: 14px;
    }
    .button{
        font-size: 10px;
    }

    .btn2-inicio{
        font-size: 10px
    }



}


@media (max-width: 884px) {

      
    header .logo{ 
       margin-left: -2rem;
    }

    #menu-web {
     gap: 26px;
    }

    
    #inicio_divCentral{
        margin-top: 5rem;
    }
    .text-inicio{
     text-align: center;
     font-size: 60px;
    }

    .text2-inicio{
    font-size: 23px;
    padding: 0 10px;
    text-align: center;
    }

    #text-solucao h2{
        padding: 0 100px;
    }

    
    #text-solucao p{
        padding: 20px 140px;
    }

   
    #solucao_container {
        flex-direction: ;
        align-items: center;
        margin-bottom: 35px;
        padding: 0 10px;
    }
        
    .solucao-card {
        width: 400px;
        height: 392px;
        margin: 10px;
        
    }
        
    .solucao-card  h3{
        font-size: 20px;
    }
    .solucao-card  p{
        font-size: 18px;
    }

    #text-vantagem p{
        font-size: 22px;
        padding: 1rem 8rem;
        text-align: center;
    }

    
    .vantagem1{
        padding: 1rem 3rem;
        margin-bottom: 6rem;
    }
    .vantagem2{
        padding: 1rem 3rem;
        margin-bottom: 6rem;
    }
    .vantagem3{
        padding: 1rem 3rem;
        margin-bottom: 6rem;
    }

}